
.hero{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 60px 30px;
    color: white;
}

h1{
    font-weight: bold;
    font-size: 72px;
}
.hero p{
    font-size: 24px;
    font-weight: lighter;
}
.intro{
    min-height: 5vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.recipes{
    padding-top: 100px;
   

}
p{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
   
}
p::first-letter{
    text-transform: capitalize;
}